body{
    padding: 0;
    margin: 0;
    background-color: rgb(235, 193, 199);
    overflow-x: hidden;
    font-family: 'DM Serif Text', Arial, Helvetica, sans-serif;
    width: 100%;
}

html{
    overflow-x: hidden;
    width: 100%;;
}
/*---------------------------------------HEADER---------------------------------------*/
.full-hdr{
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 4px rgb(145, 145, 145);
    z-index: 1;
}

.collapse-hdr{
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 4px rgb(145, 145, 145);
    transition: 1s;
    z-index: 1;
}

.tablet-header{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 1px 3px 4px rgb(145, 145, 145);
    z-index: 1;
}

.mobile-header{
    position: fixed;
    width: 100%;
    background-color: white;
    height: 95px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.top-mobile > a > img{
    margin-bottom: 2.85rem;
}

#links{
    width: 100%;
    display: none;
    position: fixed;
    margin-top: 94px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    z-index: 2;
    padding-bottom: 1rem;
}

.flat-logo{
    margin-top: 1rem;
}

.tablet-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#links button{
    border: none;
    background-color: transparent;
}

#links a{
    font-family: 'Indie Flower', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}

.collapse-hdr > .header-buttons> .h-btn > a{
    font-size: 1.6rem;
}

.h-btn.small-b:hover .small-a{
    font-size: 2rem;
}

.header-buttons{
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}

a{
    text-decoration: none;
}

.h-btn > a{
    font-family: 'Indie Flower', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
    transition: .3s;
}

.flower-spin{
    margin-bottom: 10px;
    visibility: hidden;
    transition-property: transform;
    transition-duration: 1s;
}

.h-btn{
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
}

.h-btn:hover .flower-spin{
    visibility: visible;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.h-btn:hover a{
    font-size: 2.5rem;
}

@keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*---------------------------------------------MAIN------------------------------------------*/
main{
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 15rem;
    width: 100%;
    font-size: 4rem;
    letter-spacing: .8rem;
    color: white;
    text-shadow: rgb(255, 242, 177) 0 0 10px;
    font-family: 'DM Serif Text', Arial, Helvetica, sans-serif;
    background-image: url(img/roses-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px #555 inset;
}

.about{
    text-align: center;
    background-color: white;
    font-size: 2.5rem;
    margin: 1rem;
    padding: 2rem;
    width: 50vw;
    border-radius: 15px;
    position: relative;
}

#abt-flwr-top{
    position: absolute;
    right: -11%;
    top: -8%;
}

#abt-flwr-btm{
    position: absolute;
    top: 80%;
    left: -17%;
}

/*---------------------------gallery-----------------------------*/

.my-work{
    display: grid;
    margin-top: 3rem;
    gap: 6rem;
    grid-template-columns: 1fr 1fr;
}

.work-wrapper{
    position: relative;
}

.item > img{
    height: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease ;
}

.item:nth-child(odd) img{
    transform: rotate(-5deg);
}

.item:nth-child(even) img{
    transform: rotate(5deg);
}

.item > img:hover{
    transform: rotate(0deg);
    filter: brightness(1.2);
}

.work-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-top: 3rem;
    font-size: 4rem;
    text-shadow: rgb(255, 235, 155) 0 0 10px;
    color: white;
    background-image: url(img/roses-background.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 5px #555 inset;
}

#work-1,
#work-2,
#work-3{
    position: absolute;
}

#work-1{
    left: -30%;
    top: 1%;
    transform: rotate(-10deg);
    z-index: 0;
}

#work-2{
    right: -30%;
    top: 40%;
    transform: rotate(10deg);
    z-index: 0;
}

#work-3{
    left: -30%;
    top: 70%;
    transform: rotate(-15deg);
    z-index: 0;
}
/*----------------------------reviews--------------------------*/
.rvw-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-top: 3rem;
    font-size: 4rem;
    text-shadow: rgb(255, 235, 155) 0 0 10px;
    color: white;
    background-image: url(img/roses-background.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 5px #555 inset;
}

.reviews{
    display: flex;
    gap: 15rem;
    margin-top: 5rem;
    position: relative;
    text-shadow: rgb(255, 255, 255) 0 0 10px;
}

#rvw-1,
#rvw-2,
#rvw-3{
    position: absolute;
}

.content{
    width: 13rem;
}

#rvw-1{
    left: -10%;
    top: -22%;
}

.c1, .c3{
    font-size: 1.5rem;
}

.c2{
    font-size: 1.2rem;
}

.c1{
    margin-top: 1rem;
}

.c3{
    margin-left: 1rem;
}

#rvw-2{
    left: 30%;
    top: -22%;
}

#rvw-3{
    left: 68%;
    top: -22%;
}
/*----------------------------------contact-----------------------------*/

.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-top: 6rem;
    font-size: 4rem;
    text-shadow: rgb(255, 235, 155) 0 0 10px;
    color: white;
    background-image: url(img/roses-background.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 5px #555 inset;
}

.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

.contact-para{
    width: 65vw;
    text-align: center;
    font-size: 2rem;
}

.contact-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.7rem;
}

.contact-buttons > .phone{
    height: 2rem;
}

.contact-buttons img{
    height: 4rem;
}

/*---------------------------Footer----------------------------*/

footer{
    height: 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.references {
    font-size: .8rem;
}

/*-----------------------------policies------------------------*/

.policy-wrapper{
    margin-top: 350px;
}

.reminders{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-top: 6rem;
    font-size: 4rem;
    text-shadow: rgb(255, 235, 155) 0 0 10px;
    color: white;
    background-image: url(img/roses-background.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 5px #555 inset;
}

.reminder-content{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reminder-content p{
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    width: 60vw;
}

.reminder-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*--------------------------mid-size-----------------------*/

@media(max-width: 1220px){

    .full-hdr{
        display: none;
    }

    .policy-wrapper{
        margin-top: 200px;
    }

    .header-buttons{
        gap: 1px;
    }

    .tablet-header{
        display: flex;
    }

    main{
        margin-top: 200px;
    }

    .hero, .work-title, .rvw-title, .contact-title, .reminders{
        height: 10rem;
        font-size: 2.5rem;
    }

    #abt-flwr-btm{
        top: 85%;
        left: -20%;
    }

    #rvw-1, #rvw-2, #rvw-3{
        height: 250px;
    }

    #rvw-1{
        left: -10%;
    }

    #rvw-2{
        left: 30%;
    }

    #rvw-3{
        left: 68.5%;
    }

    .c1, .c3{
        font-size: 1rem;
        width: 10rem;
    }

    .c3{
        margin-top: 1rem;
    }

    .c2{
        width: 10rem;
        font-size: .85rem;
    }

    .reviews{
        gap: 8rem;
    }
}

/*-------------------small-size----------------------*/

@media (max-width: 1030px){
    .tablet-header{
        display: none;
    }

    .mobile-header{
        display: flex;
    }

    .policy-wrapper{
        margin-top: 94px;
    }

    main{
        margin-top: 94px;
    }

    .hero, .work-title, .rvw-title, .contact-title, .reminders{
        height: 7rem;
        font-size: 1.5rem;
        text-align: center;
        font-family: 'DM Serif Text', Arial, Helvetica, sans-serif;
    }

    .about{
        font-size: 1.2rem;
        width: 77vw;
    }

    #abt-flwr-top{
        height: 120px;
        top: -8%;
        right: -8%;
    }

    #abt-flwr-btm{
        height: 120px;
        top: 83%;
        left: -12%;
    }

    .my-work{
        gap: 15px;
    }

    .item img{
        height: 200px;
    }

    .item:nth-child(odd) img{
        transform: rotate(-2deg);
    }
    
    .item:nth-child(even) img{
        transform: rotate(2deg);
    }

    .see-more{
        text-align: center;
        font-size: 1.2rem;
    }

    .reviews{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3rem;
        margin-top: 1rem;
    }

    #rvw-1, #rvw-3{
        height: 220px;
        z-index: -1;
    }

    #rvw-1{
        left: -23%;
        top: 0%;
    }

    #rvw-2{
        left: -32%;
        top: 35%;
        z-index: -1;
    }

    #rvw-3{
        left: -26%;
        top: 73%;
    }

    .c1, .c3{
        font-size: 1.2rem;
        width: 7rem;
    }

    .c2{
        width: 10rem;
        font-size: .9rem;
    }

    .contact-title{
        margin-top: 4rem;
    }

    .contact-content{
        padding: 1rem;
    }

    .contact-buttons{
        font-size: 1rem;
    }

    .contact-buttons img{
        height: 45px;
    }

    .contact-para{
        width: 65vw;
        text-align: center;
        font-size: 1rem;
    }

    footer{
        height: 4rem;
    }

    .footer-rights{
        font-size: .8rem;
    }

    .references{
        font-size: .4rem;
    }

    .reminder-content{
        font-size: 1rem;
    }

    .reminder-content img{
        height: 150px;
        padding: 0;
        margin: 0;
    }

}