body{
    padding: 0;
    margin: 0;
    background-color: rgb(235, 193, 199);
    overflow-x: hidden;
}
/*---------------------------------------HEADER---------------------------------------*/
.full-hdr{
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 100%;
    position: fixed;
    background-color: rgb(249, 249, 202);
    box-shadow: 1px 3px 4px rgb(145, 145, 145);
    transition: 0.3s;
}

.collapse-hdr{
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(249, 249, 202);
    box-shadow: 1px 3px 4px rgb(145, 145, 145);
    transition: 1s;
}

.collapse-hdr > .header-buttons> .h-btn > a{
    font-size: 1.6rem;
}

.h-btn.small-b:hover .small-a{
    font-size: 2rem;
}

.header-buttons{
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}

a{
    text-decoration: none;
}

.h-btn > a{
    font-family: 'Indie Flower', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
    transition: .3s;
}

.flower-spin{
    margin-bottom: 10px;
    visibility: hidden;
    transition-property: transform;
    transition-duration: 1s;
}

.h-btn{
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
}

.h-btn:hover .flower-spin{
    visibility: visible;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.h-btn:hover a{
    font-size: 2.5rem;
}

@keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*---------------------------------------------MAIN------------------------------------------*/

